.app {
  display: flex;
  height: 100%;
  max-height: 100vh;
}

.left {
  display: flex;
  flex-direction: column;
  flex: 0.8;
  justify-content: space-between;
  border-left: 1px solid black;
  
}

.right {
  display: flex;
  flex: 0.2;
  border: 1px solid black;
  height: 100%;
}

#root{
  height: 99vh;
}

body{
  margin:0;
}
